.fadeout {
  color: #030716;
  overflow: hidden;
  position: relative;
  mix-blend-mode: hard-light;
  width: fit-content;
}

.fadeout::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent 50%, gray 100%);
  pointer-events: none;
}
