.paragraph {
  display: flex;
  line-height: 1;
  color: black;
  flex-wrap: wrap;
  .word {
    font-size: clamp(25px, 4vw, 30px);
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow {
      position: absolute;
      opacity: 10%;
      user-select: none;
      color: #1b1b3a;
    }
  }
}
